// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	border:solid 1px;
	margin: auto;
	width: 80%;
	margin-top: 50px;
	td {
		border:solid 1px;
		text-align: center;
	}
	th {
		border:solid 1px;
		text-align: center;
	}
}